html {
  color: #5b5b5b;
}

h2 {
  display: block;
  position: absolute;
  font-size: 1.5rem;
  padding-left: 30%;
  margin-top: 100px;

}

p.category {
  display: block;
  position: absolute;
  padding-left: 450px;
  padding-top: 200px;
  font-size: 1.3rem;
}

p.posts_title {
  display: block;
  position: absolute;
  padding-left: 450px;
  padding-top: 10px;
  font-size: 1.3rem;
}

p.contents {
  display: block;
  position: absolute;
  padding-left: 450px;
  padding-top: 10px;
  font-size: 1.3rem;
}


input[type="submit"] {
  position: relative;
  display: block;
  color: #fff;
  background-color: #dc143c;
  margin-left: 450px;
  margin-top: 10px;
  width:450px;
  height: 30px;
  border: none;
  z-index: 1;
}


input.posts_form{
  background-color: #eeeeee;
  margin-top: 80px;
  margin-left: 450px;
  height: 130px;
  width: 450px;
  border: solid 1px #aaaaaa;
  outline: none;
}

input.title_form{
  background-color: #eeeeee;
  margin-top: 70px;
  margin-left: 450px;
  height: 70px;
  width: 450px;
  border: solid 1px #aaaaaa;
  outline: none;
}

select.form-control{
  background-color: #eeeeee;
  margin-left: 450px;
  margin-top: 270px;
  height: 30px;
  width: 450px;
}

a.back {
  color: #000000;
}
